<configuration>
  <appSettings>
    <add key="DEBUG" value="electron-html-to,electron-html-to:*" />
    <add key="ELECTRON_HTML_TO_DEBUGGING" value="true" />
  </appSettings>
  <system.webServer>
    <!-- indicates that the hello.js file is a node.js application
    to be handled by the iisnode module -->
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>

    <iisnode
      nodeProcessCommandLine="C:\Users\BJRMATOS\AppData\Roaming\nvm\v4.2.4\node.exe"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="300"
      namedPipeConnectionRetryDelay="300"
      watchedFiles="server.js"
      gracefulShutdownTimeout="60000"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      debugHeaderEnabled="false"
      maxLogFileSizeInKB="600"
      maxTotalLogFileSizeInKB="12000"
      maxLogFiles="20"
      devErrorsEnabled="true"
    />

    <!--
      use URL rewriting to redirect the entire branch of the URL namespace
      to server.js node.js application;
    -->
    <rewrite>
      <rules>
        <!-- Ver logs de iis-iisnode por http en /logs -->
        <!-- <rule name="LogFile" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="iisnode"/>
        </rule> -->

        <rule name="app">
          <!-- <match url="*" /> -->
          <!-- Procesar todas las peticiones al handler server.js -->
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>

    <!--
      exclude node_modules directory and subdirectories from serving
      by IIS since these are implementation details of node.js applications
    -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
